body {
  font-family: 'Lato', sans-serif;
  background: url("img/backgroundsea.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 500px) {
  body{
    background: url("img/backgroundsea2.png");
    background-size: 300px 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 800px) {
  body{
    background: url("img/backgroundsea2.png");
    background-size: 500px 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

footer {
  color: #fff;
  text-align: left;
  width: 100%;
}

/*header*/

header {
  margin: 10px;
  width: 100%;
  text-align: center;
  background-color: #10222B;
  color: #E2F0D6;
  padding: 5px;
}

/*body*/

ul {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

main img {
  width: 250px;
  border: 1.5px solid #000000;
}

main section h4 {
  text-align: center;
  color: #10222B;
}

button {
  margin: 15px 10px 10px 10px;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  background: #266fa1;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
